# Active Directory checks
define command {
       command_name	check_qnap_nas
       command_line	$PLUGINSDIR$/check_qnapdisk -H $HOSTADDRESS$ -C $HOSTSNMPCOMMUNITYREAD$ -w $HOSTDISKS_WARN$ -c $HOSTDISKS_CRIT$
}

